h1, p {
    text-align: center;

}

ol:hover {
    background-color: #ff0000;    
}
ol:active{
    font-family: monospace;
    font-size: 16px;
}

li:active {
    list-style: none;
    font-size: 18px;
}
li:hover {
    background-color: #05b5eb;
}