h1, p {
    text-align: center;
}
body {
    background-color: lightsteelblue;
}
ol:hover {
    background-color: gold;
    }
ol:active{
    font-family: monospace;
    color: crimson;
    font-size: 16px;
}
li:hover {
    background-color: greenyellow;
}
li:active {
    font-family: 'Times New Roman', Times, serif;
    color: #dc07f8;
    font-size: 20px;
}